@page "/Tutorial"


<h1>How to use WinDexer ?</h1>


<h2 style="margin-top:2em">1. Add folders to index</h2>
<div>Go to Configuration &gt; <RadzenLink Path="/RootFolders">Folders to index</RadzenLink> and add at least one folder</div>

<h2 style="margin-top:2em">2. Run indexation</h2>
<div>Go to Configuration &gt; <RadzenLink Path="/Indexation">Indexation</RadzenLink> and click on "Start indexation" button. Wait for the indexation to finish (this can be a long process)</div>
<div>Don't leave the application while an indexation is running as it would cancel it.</div>

<h2 style="margin-top:2em">3. Search for files or folders</h2>
<div>There are 2 views of the index entries. <RadzenLink Path="/">Hierarchical</RadzenLink> or <RadzenLink Path="/IndexEntriesList">Flat (List view</RadzenLink>).</div>
<div>Both views give information about the indexation result (number of files/subfolders in a folder, total size of a folder, etc)</div>
<div>they can be filtered by name or other properties by clicking on the header of a column.</div>
