@if (IndexationManager.IndexationStart.HasValue && IndexationManager.IsIndexing)
{
    <span>Indexation started on @IndexationManager.IndexationStart.Value.ToString("d") at @IndexationManager.IndexationStart.Value.ToString("t")</span>
    <span>@FilesLabel found in @FoldersLabel</span>
}