@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
            <RadzenMenu>    
                <RadzenMenuItem Text="Index Entries" Icon="source">
                    <RadzenMenuItem Text="Hierarchic view" Path="/" Icon="account_tree" />
                    <RadzenMenuItem Text="List view" Path="/IndexEntriesList" Icon="view_list" />
                </RadzenMenuItem>
                <RadzenMenuItem Text="Configuration" Icon="settings">
                    <RadzenMenuItem Text="Folders to index" Path="/RootFolders" Icon="folder" />
                    <RadzenMenuItem Text="Indexation" Path="/Indexation" Icon="sync" />
                </RadzenMenuItem>
            </RadzenMenu>
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-4" style="height:calc(100vh - 150px);">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter />
</RadzenLayout>
